<div class="row">
  <div class="average col s12 m8">
    <% if @sleep.present? %>
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <div class="title">Week Average</div>
        <div class="average-time">
          <% total_time = 0 %>
          <% @sleeps.each do |sleep| %>
          <% time = ((sleep.wakeup_time - sleep.slept_time) / 3600.0) %>
          <% time = 24.0 + time if time < 0 %>
          <% total_time += time %>
          <% end %>
          <% @sleeps.present? ? (length = @sleeps.length) : (length = 1) %>
          <% average_time = (total_time / length).round(2) %>
          <%= "#{average_time.to_i} h #{((average_time % 1).round(2) * 60).round} m" %>
        </div>
      </div>
    </div>
    <% else %>
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <div class="title">Week Average</div>
        <div class="average-time">
          <div>7 h 26 m</div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>